{% extends "base.html" %}

{% block content %}
<div class = "dashboard-container">

  <h2>Bună ziua, {{ user.username }}!</h2>
    <p>Acesta este meniul principal.</p>

  <div class = "dashboard-buttons">
    <a href = "/observation/page1" class = "action-btn">Creează Observație Nouă (Cele 5 Momente OMS)</a>
    <a href = "/statistics" class = "action-btn">Vizualizează Statistici (5 Momente)</a>

    <hr style="width: 100%; border: 0; border-top: 1px solid #ddd; margin: 20px 0;">

    <a href="/handwash/new" class="action-btn handwash-btn">Evaluare Nouă (Tehnica 7 Pași)</a>
    <a href="/statistics/handwash" class="action-btn handwash-btn">Vizualizează Statistici (7 Pași)</a>

    <hr style="width: 100%; border: 0; border-top: 1px solid #ddd; margin: 20px 0;">

    <a href = "/logout" class = "action-btn">Log Out</a>
  </div>
</div>

{% endblock %}