{% extends "base.html" %}

{% block content %}
<div class = "dashboard-container">
    <h2>Observation - Section 1</h2>

    <form method = "post">
        <div class = "form-group">
            <label>Date:</label>
            <p>(%Y-%m-%d)</p>
            <input type = "text" name = "date_str" required>
        </div>

        <div class = "form-group">
            <label>Profession:</label>
            <input type = "text" name = "profession" required>
        </div>

        <div class = "form-group">
            <label>Section:</label>
            <p>("-" if it doesn't apply)</p>
            <input type = "text" name = "section" required>
        </div>

        <div class = "form-group">
            <label>Salon:</label>
            <p>("-" if it doesn't apply)</p>
            <input type = "text" name = "salon" required>
        </div>

        <div class="form-navigation">
            <button type="submit" class="continue-btn">Continue</button>
        </div>
    </form>
</div>

{% endblock %}













