{% extends "base.html" %}

{% block content %}
<div class = "dashboard-container">
    <h2>Observație - Secțiunea 1</h2>

    <form method = "post">
        <div class = "form-group">
            <label>Dată:</label>
            <p>(%Y-%m-%d)</p>
            <input type = "text" name = "date_str" required>
        </div>

        <div class = "form-group">
            <label>Profesie:</label>
            <input type = "text" name = "profession" required>
        </div>

        <div class = "form-group">
            <label>Secție:</label>
            <p>("-" daca nu se aplica)</p>
            <input type = "text" name = "section" required>
        </div>

        <div class = "form-group">
            <label>Salon:</label>
            <p>("-" daca nu se aplica)</p>
            <input type = "text" name = "salon" required>
        </div>

        <div class="form-navigation">
            <button type="submit" class="continue-btn">Continuă</button>
        </div>
    </form>
</div>

{% endblock %}













