{% extends "base.html" %}
{% block content %}
<div class = "dashboard-container">
  <h2>Statistica pașilor de pregatire a mâinii</h2>
  <p>Ultimele {{ days }} de zile:</p>
  <p>{{ start_date }} - {{ end_date }}</p>

  <div class = "stats-card">
    <h3>Rezumat</h3>
    <div class = "stats-grid">
      <div class = "stat-box">
        <div class = "stat-value">{{ total_recordings }}</div>
        <div class = "stat-label">Total înregistrări</div>
      </div>

      <div class = "stat-box">
        <div class = "stat-value">{{ overall_percent }}</div>
        <div class = "stat-label">Scor general (Media momentelor)</div>

        {% if good_hospital %}
          <div class = "badge badge-good">✅ Bun (≥ 80%)</div>
        {% else %}
          <div class = "badge badge-warn">⚠ Sub 80%</div>
        {% endif %}
      </div>
  </div>
</div>

<div class = "stats-card">
  <h3>Complianța Momentelor</h3>

  <div class = "bar-chart">
    {% for step in range(1, 6) %}
    {% set p = step_stats[step]["percent"] %}
    <div class="bar-row" style="--step-width: {{ p }}%;">
      <div class="bar-label">Moment {{ step }}</div>
        <div class="bar-track">
          <div class="bar-fill" style="width: {{ p }}%;"></div>
        </div>
      <div class="bar-percent">{{ p }}%</div>
    </div>
    {% endfor %}
  </div>
</div>

<div class = "stats-card">
  <h3>Detalii Momente</h3>

  <div class = "table-wrapper">
    <table class = "stats-table">
      <thead>
        <tr>
          <th>Moment</th>
          <th>Total</th>
          <th>Corect</th>
          <th>Eșuat</th>
          <th>Rată succes</th>
        </tr>
      </thead>
      <tbody>
        {% for step in range(1,6) %}
        <tr>
          <td>{{ step }}</td>
          <td>{{ step_stats[step]["total"] }}</td>
          <td>{{ step_stats[step]["C"] }}</td>
          <td>{{ step_stats[step]["fail"] }}</td>
          <td>{{ step_stats[step]["percent"] }}%</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class = "button-group">
  <a href = "/statistics" class = "dash-button">⬅ Înapoi</a>
</div>

</div>
{% endblock %}