{% extends "base.html" %}
{% block content %}
<div class = "dashboard-container table-container">
  <h2>Verificari resurse</h2>
  <p>Tabelul va fi afisat aici.</p>

  <div class = "month-nav">
    <a class = "dash-button"
       href = "/statistics/page2?year={{ year if month > 1 else year - 1 }}&month={{ month - 1 if month > 1 else 12 }}">⟵ Luna Precedenta</a>

    <strong>{{ month }} / {{ year }}</strong>

    <a class = "dash-button"
       href = "/statistics/page2?year={{ year if month < 12 else year + 1 }}&month={{ month + 1 if month < 12 else 1 }}">Luna Urmatoare ⟶</a>
  </div>

  <a href = "/statistics/page2/pdf?year={{ year }}&month={{ month }}" class="dash-button">Export PDF</a>

  <div class = "table-wrapper">
    <table class = "stats-table">
      <thead>
        <tr>
          <th>Data</th>
          <th>Profesie</th>
          <th>Sectia</th>
          <th>Salon</th>
          <th>Apa</th>
          <th>Sapun</th>
          <th>Prosop</th>
          <th>Dezinfectant</th>
          <th>Pictograme</th>
          <th>Maini</th>
        </tr>
      </thead>

      <tbody>
          {% for obs, check in results %}
          <tr>
            <td>{{ obs.date }}</td>
            <td>{{ obs.profession }}</td>
            <td>{{ obs.section }}</td>
            <td>{{ obs.salon }}</td>
            <td>{{ check.apa_curenta }}</td>
            <td>{{ check.sapun_lichid }}</td>
            <td>{{ check.prosop_hartie }}</td>
            <td>{{ check.dezinfectant }}</td>
            <td>{{ check.pictograme }}</td>
            <td>{{ check.pregatire_maini }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

  <div class = "button-group">
    <a href = "/statistics" class = "dash-button">⬅ Inapoi</a>
  </div>

  </div>
{% endblock %}
